/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
/*////// LAYOUT /////////*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*span 1/3 of space*/
.col-1 {
	float: left;
	/*100% - 2% margins btw columns 1&2 and 2&3 = 96/3 = 32 */
	width: 32%;
}

/*span 2/3 of space*/
.col-2 {
	float: left;
	/*100% - 2% margin - 32% last column = 66 */
	width: 66%;
}

/*span whole space*/
.col-3 {
}

/*attribute selector: anything that has a class with "col- 
in it, do this*/
[class*="col-"] {
	margin-left: 2%;
}

.first {
	margin-left: 0%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/*////// SECTIONS /////////*/

/*header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
}

section {
	padding: 20px;
	margin-bottom: 20px ;
}

*/


